// grid 

.body-accesorios {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
        "header-accesorios"
        "contenido-accesorios"
        "footer-accesorios";
}

.accesorios-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "menu-filtros-accesorios catalogo-prendas-accesorios";

        .catalogo-prendas-accesorios {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: .5rem;
            grid-row-gap: .8rem;
            justify-items: stretch;
        }
}



// Nombres areas grid

.header-accesorios {
    grid-area: header-accesorios;
}

.contenido-accesorios {
    grid-area: contenido-accesorios;
}

.footer-accesorios {
    grid-area: footer-accesorios;
}

.menu-filtros-accesorios {
    grid-area: menu-filtros-accesorios;
}

.catalogo-prendas-accesorios {
    grid-area: catalogo-prendas-accesorios;
}



// Estilos 

.accesorios-grid {
    
    .menu-filtros-accesorios{
        margin: 3rem auto;

            h2 {
                margin-bottom: 2rem;
            }
            
            .sub-lista {
                padding-left: 1rem;
                
                    li {
                        font-size: 1rem;
                    }
            }

            li {
                font-size: 1.2rem;
                margin: .5rem 0;
                padding-left: 1rem;
                cursor: pointer;
                
                    a {
                        color: black;
                    }
            }
    }


    .catalogo-prendas-accesorios {
        margin: 2rem 1rem;

        .producto-container {
            padding: 1rem;
            // max-width: 500px;
            // max-height: 600px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            border-radius: .3rem;
            

                &:hover {
                    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
                }

                img {
                    width: 275px;
                    height: 350px;
                    margin:1rem auto;
                    transition: 2s;
                    border-radius: .3rem;
                    object-fit: cover;
                    object-position: top;
                

                        &:hover {
                            transform: scale(1.1,);
                        }
                }

                h3 {
                    margin: 1.5rem 1.5rem;
                    height: 47px;
                }

                h4 {
                    margin-left: 1.5rem;
                    margin-bottom: 0.125rem;
                }

                button {
                    float: right;
                    margin-right: 1.5rem;
                    transition-duration: 0.5s;
                    padding: .5rem 1.3rem;
                    cursor: pointer;
                    border-radius: .8rem;
                    border: none;
                    background-color: rgb(218, 217, 217);
                    
                    &:hover {
                        background-color: rgb(76, 69, 69);
                        color: white;
                    } 

                }

        }
    }
}