.body-ayuda {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header-ayuda"
        "container-ayuda"
        "footer-ayuda";

}

.container-ayuda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-template-areas: 
        "container-ayuda1 container-ayuda2";
    
}

.container-ayuda1 {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
        "titulo-ayuda"
        "rastrear-pedido";
        justify-items: center;
        align-items: center;

}


// Nombres areas grid

.header-ayuda {
    grid-area: header-ayuda;
}

.container-ayuda {
    grid-area: container-ayuda;
}

.footer-ayuda {
    grid-area: footer-ayuda;
}

.container-ayuda1{
    grid-area: container-ayuda1;
}

.container-ayuda2{
    grid-area: container-ayuda2;
}

.titulo-ayuda {
    grid-area: titulo-ayuda;
}

.rastrear-pedido {
    grid-area: rastrear-pedido;
}



.container-ayuda {
    background-color: rgb(43, 41, 41);

    .container-ayuda1{

        .titulo-ayuda {
            color: $color-blanco;
        }

        .rastrear-pedido{
            display: flex;
            flex-direction: column;
            min-height: 50%;
            width: 80%;
            margin: auto;
            transition: 1s;
            border-radius: 1rem;

                &:hover {
                    background-color: rgb(70, 67, 67);
                }


            h3{
                color: $color-blanco;
                text-align: center;
                margin: 1rem 0;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                min-height: 20rem;
                

                input {
                    margin-top: 1rem;
                    width: 12.5625rem;
                    height: 3rem;
                    cursor: pointer;
                    letter-spacing: 0.8px;
                    font-size: .8rem;
                    text-align: center;
                    
                }

                .rastrear-pedido-boton {

                    .boton-formulario{
                        margin-top: 2rem;
                        width: 8.5625rem;
                        height: 3rem;
                        border: solid .1rem $color-blanco;
                        border-radius: 1.75rem;
                        cursor: pointer;
                        text-transform: uppercase;
                        background-color: transparent;
                        color: $color-blanco;
                        letter-spacing: 0.8px;
                        font-size: .6rem;

                                &:hover {
                                    background-color: $color-amarillo;
                                    color: black;
                                    border: none;
                                }
                    }

                }
            }
        }

    }

    .container-ayuda2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 90%;
        margin: 0 auto;
        

        .container-ayuda2-cambios{
            
            min-height: 50%;
            margin-top: 1rem;

            .titulo-container-ayuda2{
                color: $color-blanco;
                margin-bottom: 1.8rem;
            }

            .cambios-devoluciones {
                
                ul{
                    list-style-type: upper-roman;

                    li {
                        color: $color-blanco;
                        margin-top: 1rem;
                        padding-left: .5rem;
                        margin-left: 1rem;
                        max-width: 100%;
                    }
                }

            }
        }

    }

}

// media queries

@media (max-width: 650px) {

    .container-ayuda {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "container-ayuda1"
            "container-ayuda2";

            .container-ayuda2{
                height: 100%;
                width: 80%;
                padding: 0 5px;

                .container-ayuda2-cambios{
                    width: 100%;
                    height: 100%;
                }
            }
        
    }

    .container-ayuda1{
        grid-area: container-ayuda1;
    }
    
    .container-ayuda2{
        grid-area: container-ayuda2;
    }

    


}


// .container-ayuda {
//     display: flex;
//     background-color: rgb(43, 41, 41);
//     min-height: 85vh;
    
//         .container-ayuda1 {
//             display: flex;
//             width: 50%;
//             position: relative;

//                 h2 {
//                     position: absolute;
//                     left: 20%;
//                     top: 10%;
//                     color: $color-blanco;
//                 }

//                 .rastrear-pedido {
//                     display: flex;
//                     flex-direction: column;
//                     position: absolute;
//                     left: 20%;
//                     top: 40%;
//                     width: 70%;
//                     height: 30%;
//                     border-bottom: 0.125rem solid whitesmoke;
//                     border-top: 0.125rem solid whitesmoke;

//                         h3 {
//                             margin-top: .5rem;
//                             text-align: center;
//                             color: $color-blanco;
//                         }

//                         form {
//                             display: flex;
//                             flex-direction: column;
//                             width: 50%;
//                             margin: auto;

//                             .campos-formulario {
//                                 height: 2rem;
//                                 padding: 0 1rem;
//                                 letter-spacing: .06rem;
//                             }

//                                 .rastrear-pedido-boton {
//                                     display: flex;
//                                     justify-content: center;

//                                     .boton-formulario {
//                                         margin-top: 1rem;
//                                         height: 1.8rem;
//                                         border-radius: .9rem;
//                                         width: 10rem;
//                                         letter-spacing: .06rem;
//                                         cursor: pointer;
//                                     }
//                                 }

//                         }
//                 }

//         }

//         .container-ayuda2 {
//             display: flex;
//             width: 50%;
//             flex-direction: column;
//             position: relative;
            

//                 .container-ayuda2-cambios {
//                     display: flex;
//                     flex-direction: column;
//                     position: absolute;
//                     left: 20%;
//                     top: 40%;
//                     width: 70%;
//                     height: 30%;
//                     border-bottom: 0.125rem solid whitesmoke;
//                     border-top: 0.125rem solid whitesmoke;

//                         h3{
//                             margin-top: .5rem;
//                             color: $color-blanco;
//                         }
//                 }

//                 .cambios-devoluciones {
//                     margin-top: 1rem;

//                         p {
//                             margin-bottom: .5rem;
//                         }

//                 }
//         }
// }