footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: .625rem 1.625rem;
    min-height: 50px;
    height: auto;
    width: 100%;
    align-items: center;
    
    .footer__derechos {
        flex-basis: 20%;
    }
    
    
    .footer__menu {
        flex-basis: 60%;
        
        
        .footer__lista {
            display: flex;
            justify-content: center;

                li {
                    margin: 0 1rem;
                }
            
            .footer__enlaces:hover {
                color: $hover-header;
            }
        }
        
    }
        
    .footer__redes {
        flex-basis: 20%;
            
        .footer__lista2 {
            display: flex;
            justify-content: flex-end;

                li {
                    margin: 0 1rem;
                }
            
                .footer__facebook:hover {
                color: $hover-header;
                transform: scale(1.2);
                }
                
                .footer__instagram:hover {
                    color: $hover-header;
                    transform: scale(1.2);
                }
        }
    }
}

// media queries

@media (max-width: 768px) {
    footer {
    
        flex-direction: column;
        min-height: 100px;
        

        .footer__derechos {
            order:1;
            margin: 1rem 0;
            
            .footer__texto {
                font-size: .6rem;
            }
        }

        .footer__menu {
            margin: 1rem 0;
            padding-top: .5rem;
            

        }
    }

}

@media (max-width: 500px) {

    footer {
    
        .footer__menu {

            .footer__lista {
                
                a {
                    font-size: .8rem;
                }

            }
        }

    }

}