
header {
    background-color: black;
    padding: .625rem;
    height: 60px;
    width: 100%;

    
    .header-container {
        display: flex;
        align-items: center;
        
            .logo {
            flex-basis: 20%;
            
                .logo__titulo{
                cursor: pointer;
                
                    &:hover {
                        color: $hover-header;
                    }
                }
            }
    
            .boton-menu {
                display: none;
                color: $color-blanco;
            }

            .menu {
                flex-basis: 60%;
                
                        
                    .menu__lista {
                        display: flex;
                        justify-content: center;

                        .menu__elementos {

                            margin: 0 1rem;
                        
                            .menu__enlace:hover {
                                color: $hover-header;
                                font-weight: 700;
                            }

                        }
                    }
            }
                    
                        
            .usuario {
                flex-basis: 20%;
                
                .usuario__lista {
                    display: flex;
                    justify-content:flex-end;
                    
                    
                    .usuario__elementos {
                        margin: 0 1rem;
                        
                        .usuario__iconos {
                            color: $color-blanco;
                            cursor: pointer;
                            transition: 1s;
                            
                            &:hover {
                                color: $hover-header;
                                transform: scale(1.2);
                                
                            }
                        }
                    }
                    
                }
                
            }
            
    }
}

// media queries

@media (max-width: 768px) {
    
    .header-home{
        position: relative;
        
        .header-container {
            justify-content: space-between;
            
            
            .menu {
                position: absolute;
                display: block;
                background-color: black;
                height: 200px;
                width: 50%;
                top: 60px;
                right: 0%;
                
                
                
                .menu__lista {
                    flex-direction: column;
                    height: 100%;
                    
                        .menu__elementos {
                            margin: .5rem auto;
                        }
                    
                    
                }
            }
            
            .usuario{
                display: none;
            }
            
            .boton-menu {
                flex-basis: 10%;
                display: block;
                text-align: center;
                
                
                    i {
                        cursor: pointer;

                        &:hover {
                            color: $color-amarillo;
                        }

                    }

                    #boton-menu-hamb {
                        // display: none;
                        
                        &input:checked ~ .menu__lista {
                            background-color: whitesmoke;
                            
                        }
                    }

                    
            }
        }
    }
}