.principal {
    background-image: url(../img/fotoPortadaIndex.jpg);
    height: 120vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
        
        .principal__div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
                .principal__subtitulo {
                    cursor: pointer;
                    transition: 2s;
                    color: $color-amarillo;
                    font-size: 3.5rem ;
                    font-weight: bold;
                    letter-spacing: 2.34px;
                    
                    
                
                        &:hover {
                            transform: scale(1.1);
                        }
                    
                }
                    
                    
                    
                    
                    
                .rectangulo__enlace {
                    width: 10.5625rem;
                    height: 3rem;
                    margin: 14px 439px 0;
                    padding: 13px 0;
                    border: solid .0625rem $color-blanco;
                    border-radius: 1.75rem;
                    text-align: center;
                    
                    
                    .principal__enlace {
                        text-align: center;
                        text-transform: uppercase;
                        width: 10px;
                        height: 23px;
                        font-size: 1rem;
                        letter-spacing: 0.8px;
                        
                        &:hover{
                            color: $hover-header;
                        }
                    }
                }
        }
}
                
                

.seccion {
    display: flex;
    height: 150vh;
    width: 100%;
    background-color: black;


    .seccion__img1 {
        background-image: url(../img/img-uno.jpg);
        height: 100%;
        max-width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            .texto__img1 {
                color: $color-amarillo;
                font-size: 2rem;
                transition: 2s;
                cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                
            }
        
        
            .rectangulo__enlace-img1 {
                border: solid .0625rem $color-blanco;
                border-radius: 1.75rem;
                width: 10.5625rem;
                height: 3rem;
                padding: 13px 0;
                text-align: center;
                margin: 1rem auto;

                .seccion__enlace:hover{
                    color: $hover-header;
                }
                
            }
    }
    .seccion__img2 {
        background-image: url(../img/img-dos.jpg);
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


            .texto__img2{
                color: $color-amarillo;
                font-size: 2rem;
                transition: 2s;
                cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
            }

            .rectangulo__enlace-img2 {
                border: solid .0625rem $color-blanco;
                border-radius: 1.75rem;
                width: 10.5625rem;
                height: 3rem;
                padding: 13px 0;
                text-align: center;
                margin: 1rem auto;

                .seccion__enlace:hover{
                    color: $hover-header;
                }
                
            }
        
    }
    
}