.principal {
    background-image: url(../img/fotoPortadaIndex.jpg);
    height: 120vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

    .principal__div {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        // max-width: 80%;
        
    }

    .principal__subtitulo {
        margin: 20px;
        cursor: pointer;
        transition: 2s;

            &:hover {
                transform: scale(1.1);
            }
        
    }

    .principal__enlace {
        text-align: center;
        

        &:hover{
            color: $hover-header;
        }
    }

.seccion {
    display: flex;
    height: 150vh;
    width: 100%;
    background-color: black;
}

    .seccion__img1 {
        background-image: url(../img/img-uno.jpg);
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 50%;
        position: relative;

    }

        .seccion__enlace {
            position: absolute;
            right: 10%;
            bottom: 5%;

                &:hover {
                    color: $hover-header;
                    cursor: pointer;
                }
        }

    .seccion__img2 {
        background-image: url(../img/img-dos.jpg);
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 50%;
        position: relative;
    }

        .seccion__enlace {
            position: absolute;
            right: 10%;
            bottom: 5%;

            &:hover {
                color: $hover-header;
                cursor: pointer;
            }
        }