.header-home {
    position: sticky;
    top: 0;
    z-index: 999;
}

.principal {
    background-image: url(../img/fotoPortadaIndex.jpg);
    height: 120vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
        
        .principal__div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
                .principal__subtitulo {
                    cursor: pointer;
                    transition: 2s;
                    color: $color-amarillo;
                    font-size: 3.5rem ;
                    font-weight: bold;
                    letter-spacing: 2.34px;
                    
                    
                
                        &:hover {
                            transform: scale(1.1);
                        }
                    
                }

                .boton-principal__div {
                    margin-top: .9rem;
                    width: 10.5625rem;
                    height: 3rem;
                    border: solid .1rem $color-blanco;
                    border-radius: 1.75rem;
                    cursor: pointer;
                    text-transform: uppercase;
                    background-color: transparent;
                    color: $color-blanco;
                    letter-spacing: 0.8px;
                    font-size: .9rem;

                        &:hover {
                            background-color: $color-amarillo;
                            color: black;
                            border: none;
                        }

                }

        }
}

                
                

.seccion {
    display: flex;
    height: 150vh;
    width: 100%;
    // background-color: black;


    .seccion__img1 {
        background-image: url(../img/img-uno.jpg);
        height: 100%;
        max-width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

            .texto__img1 {
                color: $color-amarillo;
                font-size: 2rem;
                transition: 2s;
                cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
                
            }
        
            
                    .boton-seccion__img1 {
                    margin-top: .9rem;
                    width: 8.5625rem;
                    height: 3rem;
                    border: solid .1rem $color-blanco;
                    border-radius: 1.75rem;
                    cursor: pointer;
                    text-transform: uppercase;
                    background-color: transparent;
                    color: $color-blanco;
                    letter-spacing: 0.8px;
                    font-size: .9rem;

                        &:hover {
                            background-color: $color-amarillo;
                            color: black;
                            border: none;
                        }

                }


    }

    .seccion__img2 {
        background-image: url(../img/img-dos.jpg);
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;


            .texto__img2{
                color: $color-amarillo;
                font-size: 2rem;
                transition: 2s;
                cursor: pointer;

                    &:hover {
                        transform: scale(1.1);
                    }
            }

                .boton-seccion__img1 {
                    margin-top: .9rem;
                    width: 8.5625rem;
                    height: 3rem;
                    border: solid .1rem $color-blanco;
                    border-radius: 1.75rem;
                    cursor: pointer;
                    text-transform: uppercase;
                    background-color: transparent;
                    color: $color-blanco;
                    letter-spacing: 0.8px;
                    font-size: .9rem;

                        &:hover {
                            background-color: $color-amarillo;
                            color: black;
                            border: none;
                        }

                }
        
    }
    
}