.container__productos {
    display: flex;
    padding-top: 3.125rem;
    justify-content: space-around;
    
    .container__filtros {
        padding-left: 2.5rem;
        padding-top: 1.25rem;
        flex-basis: 20%;

            .texto-productos {
                margin-bottom: 1.25rem;
                color: black;
            }

            li {
                font-size: 1.25rem;
                margin-top: 0.3125rem;
                cursor: pointer;
            }
    }

    .catalogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-basis: 80%;
        

        .producto-container {
            width: 30%;
            margin-bottom: 1.25rem;
            display: flex;
            flex-direction: column;
            cursor: pointer;

                &:hover {
                    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
                }
                
                img {
                width: 80%;
                height: 70%;
                display: block;
                margin: auto;
                transition: 2s;

                //     &:hover {
                //         transform: scale(1.1,);
                //     }
                }

                h3 {
                    margin: 1rem;
                }

                h4 {
                    margin-left: 1rem;
                    margin-bottom: 0.125rem;
                }

                button {
                    float:right;
                    margin-right: 0.625rem;
                    margin-bottom: 0.625rem;
                    transition-duration: 0.5s;
                    padding: 0.1875rem;
                    cursor: pointer;
                    border-radius: .3rem;
                    
                    &:hover {
                        background-color: rgb(76, 69, 69);
                        color: white;
                    } 

                }

        }

    }
}

