.container__productos {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    
    .container__filtros {
        padding-left: 40px;
        padding-top: 20px;
        flex-basis: 20%;

            .texto-productos {
                margin-bottom: 20px;
                color: black;
            }

            li {
                font-size: 20px;
                margin-top: 5px;
                cursor: pointer;
            }
    }

    .catalogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-basis: 80%;
        

        .producto-container {
            width: 30%;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            cursor: pointer;

                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
                
                img {
                width: 80%;
                height: 70%;
                display: block;
                margin: auto;
                transition: 2s;

                    &:hover {
                        transform: scale(1.1,);
                    }
                }

                h3 {
                    margin: 15px;
                }

                h4 {
                    margin-left: 15px;
                    margin-bottom: 2px;
                }

                button {
                    float:right;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    transition-duration: 0.5s;
                    padding: 3px;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: rgb(76, 69, 69);
                        color: white;
                    } 

                }

        }

    }
}

