// grid 

.body-zapatos {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-areas: 
        "header-zapatos"
        "contenido-zapatos"
        "footer-zapatos";
}

.zapatos-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "menu-filtros-zapatos catalogo-prendas-zapatos";

        .catalogo-prendas-zapatos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: .5rem;
            grid-row-gap: .8rem;
            justify-items: stretch;
        }
}



// Nombres areas grid

.header-zapatos {
    grid-area: header-zapatos;
}

.contenido-zapatos {
    grid-area: contenido-zapatos;
}

.footer-zapatos {
    grid-area: footer-zapatos;
}

.menu-filtros-zapatos {
    grid-area: menu-filtros-zapatos;
}

.catalogo-prendas-zapatos {
    grid-area: catalogo-prendas-zapatos;
}



// Estilos 

.zapatos-grid {
    
    .menu-filtros-zapatos{
        margin: 3rem auto;

            h2 {
                margin-bottom: 2rem;
            }

            li {
                font-size: 1.2rem;
                margin: .5rem 0;
                padding-left: 1rem;
                cursor: pointer;
                
                    a {
                        color: black;

                        &:hover{
                            color: $color-amarillo;
                        }

                    }
            }
    }


    .catalogo-prendas-zapatos {
        margin: 2rem 1rem;

        .producto-container {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            border-radius: .3rem;
            

                &:hover {
                    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
                }

                img {
                    width: 275px;
                    height: 350px;
                    margin:1rem auto;
                    transition: 2s;
                    border-radius: .3rem;
                    object-fit: cover;
                    object-position: top;
                

                        &:hover {
                            transform: scale(1.1,);
                        }
                }

                h3 {
                    margin: 1.5rem 1.5rem;
                    height: 47px;
                }

                h4 {
                    margin-left: 1.5rem;
                    margin-bottom: 0.125rem;
                }

                button {
                    float: right;
                    margin-right: 1.5rem;
                    transition-duration: 0.5s;
                    padding: .5rem 1.3rem;
                    cursor: pointer;
                    border-radius: .8rem;
                    border: none;
                    background-color: rgb(218, 217, 217);
                    
                    &:hover {
                        background-color: rgb(76, 69, 69);
                        color: white;
                    } 

                }

        }
    }
}

// media queries

@media (max-width: 1160px) {

    .contenido-zapatos {

        .zapatos-grid{

            .menu-filtros-zapatos {

                margin: 3rem 0 3rem .8rem;

                h2 {
                    font-size: 80%;
                }

                ul {

                    li {
                        font-size: 1rem;

                    }

                }

            }

        }
    }



}

@media (max-width: 768px) {


// grid
    .zapatos-grid {
    
            .catalogo-prendas-zapatos {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: .5rem;
                grid-row-gap: .8rem;
                justify-items: stretch;
            }
    }

    .contenido-zapatos {

        .zapatos-grid{

            .menu-filtros-zapatos {

                margin: 3rem 0 3rem .8rem;

                h2 {
                    font-size: 70%;
                }

                ul {

                    li {
                        font-size: .9rem;

                    }
                }

            }

            .catalogo-prendas-zapatos {
                .producto-container{
                    h3{
                        font-size: .8rem;
                    }
                }
            }

        }
    }



}


@media (max-width: 540px) {


    // grid
    .body-zapatos {
        display: grid;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
            "header-zapatos"
            "contenido-zapatos"
            "footer-zapatos";
    }
    
    .zapatos-grid {

        grid-template-columns: 1fr;
        grid-template-areas:
        "menu-filtros-zapatos"
        "catalogo-prendas-zapatos";

    
            .catalogo-prendas-zapatos {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: .5rem;
                grid-row-gap: .8rem;
            }
    }

    .header-zapatos {
        grid-area: header-zapatos;
    }
    
    .contenido-zapatos {
        grid-area: contenido-zapatos;
    }
    
    .footer-zapatos {
        grid-area: footer-zapatos;
    }
    
    .menu-filtros-zapatos {
        grid-area: menu-filtros-zapatos;
    }
    
    .catalogo-prendas-zapatos {
        grid-area: catalogo-prendas-zapatos;
    }
    

    // estilos

    .body-zapatos {
        .contenido-zapatos{
            .zapatos-grid{
                .menu-filtros-zapatos{
                    margin: 1rem auto;

                    h2 {
                        margin: 0;
                        font-size: 2rem;
                    }

                    
                    ul {
                        display: none;
                    }
                }
                .catalogo-prendas-zapatos{
                    margin-top: 0;
                }
            }
        }
    }


}