* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Encode Sans SC", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

li {
  font-family: "Roboto", sans-serif;
}

.texto-productos {
  color: black;
}

header {
  background-color: black;
  padding: .625rem 1.625rem;
  height: 60px;
  width: 100%;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .logo {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

header .header-container .logo .logo__titulo {
  cursor: pointer;
}

header .header-container .logo .logo__titulo:hover {
  color: #f8d134;
}

header .header-container .boton-menu-hamb, header .header-container .boton-menu-hamb-input {
  display: none;
  color: whitesmoke;
}

header .header-container .menu {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

header .header-container .menu .menu__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-container .menu .menu__lista .menu__elementos {
  margin: 0 1rem;
}

header .header-container .menu .menu__lista .menu__elementos .menu__enlace:hover {
  color: #f8d134;
  font-weight: 700;
}

header .header-container .usuario {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

header .header-container .usuario .usuario__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-container .usuario .usuario__lista .usuario__elementos {
  margin: 0 1rem;
}

header .header-container .usuario .usuario__lista .usuario__elementos .usuario__iconos {
  color: whitesmoke;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header-container .usuario .usuario__lista .usuario__elementos .usuario__iconos:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 768px) {
  header {
    position: relative;
  }
  header .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header-container .menu {
    position: absolute;
    display: block;
    background-color: black;
    height: 200px;
    width: 50%;
    top: 60px;
    right: 700%;
  }
  header .header-container .menu .menu__lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  header .header-container .menu .menu__lista .menu__elementos {
    margin: .5rem auto;
  }
  header .header-container .usuario {
    display: none;
  }
  header .header-container .boton-menu-hamb-input {
    display: none;
  }
  header .header-container .boton-menu-hamb {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    display: block;
    text-align: center;
    cursor: pointer;
  }
  header .header-container .boton-menu-hamb i {
    cursor: pointer;
  }
  header .header-container .boton-menu-hamb i:hover {
    color: #f8d134;
  }
  header .header-container .boton-menu-hamb #boton-menu-hamb {
    display: none;
  }
  header .header-container #boton-menu-hamb:checked ~ .menu {
    right: 0;
  }
}

.header-home {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.principal {
  background-image: url(../img/fotoPortadaIndex.jpg);
  height: 120vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.principal .principal__div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.principal .principal__div .principal__subtitulo {
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
  color: #f8d134;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2.34px;
}

.principal .principal__div .principal__subtitulo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.principal .principal__div .principal__enlace .boton-principal__div {
  margin-top: .9rem;
  width: 10.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.principal .principal__div .principal__enlace .boton-principal__div:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

.seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150vh;
  width: 100%;
}

.seccion .seccion__img1 {
  background-image: url(../img/img-uno.jpg);
  height: 100%;
  max-width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.seccion .seccion__img1 .texto__img1 {
  color: #f8d134;
  font-size: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

.seccion .seccion__img1 .texto__img1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion .seccion__img1 .boton-seccion__img1 {
  margin-top: .9rem;
  width: 8.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.seccion .seccion__img1 .boton-seccion__img1:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

.seccion .seccion__img2 {
  background-image: url(../img/img-dos.jpg);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.seccion .seccion__img2 .texto__img2 {
  color: #f8d134;
  font-size: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

.seccion .seccion__img2 .texto__img2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion .seccion__img2 .boton-seccion__img2 {
  margin-top: .9rem;
  width: 8.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.seccion .seccion__img2 .boton-seccion__img2:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

@media (max-width: 1024px) {
  .principal .principal__div .principal__subtitulo {
    font-size: 3rem;
  }
}

@media (max-width: 890px) {
  .principal .principal__div .principal__subtitulo {
    font-size: 2rem;
  }
  .principal .principal__div .principal__enlace .boton-principal__div {
    margin-top: .9rem;
    width: 8.5625rem;
    height: 2.5rem;
    font-size: .7rem;
  }
  .seccion .seccion__img1 .texto__img1 {
    font-size: 1.5rem;
  }
  .seccion .seccion__img1 .principal__enlace .boton-seccion__img1 {
    margin-top: .9rem;
    width: 6.5625rem;
    height: 2rem;
    letter-spacing: 0.8px;
    font-size: .6rem;
  }
  .seccion .seccion__img2 .texto__img2 {
    font-size: 1.5rem;
  }
  .seccion .seccion__img2 .principal__enlace .boton-seccion__img2 {
    margin-top: .9rem;
    width: 6.5625rem;
    height: 2rem;
    letter-spacing: 0.8px;
    font-size: .6rem;
  }
}

@media (max-width: 768px) {
  .principal {
    background-image: url(../img/fotoportadaindextablet.png);
    height: 120vh;
    width: 100%;
    position: relative;
  }
  .principal .principal__div {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .seccion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300vh;
    width: 100%;
  }
  .seccion .seccion__img1 {
    background-image: url(../img/img-uno.jpg);
    height: auto;
    max-width: 100%;
  }
  .seccion .seccion__img1 .texto__img1 {
    color: #f8d134;
    font-size: 1rem;
    -webkit-transition: 2s;
    transition: 2s;
    cursor: pointer;
  }
  .seccion .seccion__img1 .boton-seccion__img1 {
    margin-top: .9rem;
    width: 8.5625rem;
    height: 3rem;
    letter-spacing: 0.8px;
    font-size: .9rem;
  }
  .seccion .seccion__img2 {
    background-image: url(../img/img-dos.jpg);
    height: auto;
    width: 100%;
  }
  .seccion .seccion__img2 .texto__img2 {
    color: #f8d134;
    font-size: 1rem;
    -webkit-transition: 2s;
    transition: 2s;
    cursor: pointer;
  }
  .seccion .seccion__img2 .texto__img2:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .seccion .seccion__img2 .boton-seccion__img2 {
    margin-top: .9rem;
    width: 8.5625rem;
    height: 3rem;
    letter-spacing: 0.8px;
    font-size: .9rem;
  }
  .seccion .seccion__img2 .boton-seccion__img2:hover {
    background-color: #f8d134;
    color: black;
    border: none;
  }
}

@media (max-width: 620px) {
  .principal .principal__div .principal__subtitulo {
    font-size: 1.5rem;
  }
  .principal .principal__div .principal__enlace .boton-principal__div {
    margin-top: .9rem;
    width: 6.5625rem;
    height: 2rem;
    font-size: .6rem;
  }
}

@media (max-width: 500px) {
  .principal .principal__div .principal__subtitulo {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .principal .principal__div .principal__subtitulo {
    font-size: .8rem;
  }
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .625rem 1.625rem;
  min-height: 50px;
  height: auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__derechos {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

footer .footer__menu {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

footer .footer__menu .footer__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__menu .footer__lista li {
  margin: 0 1rem;
}

footer .footer__menu .footer__lista .footer__enlaces:hover {
  color: #f8d134;
}

footer .footer__redes {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

footer .footer__redes .footer__lista2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer__redes .footer__lista2 li {
  margin: 0 1rem;
}

footer .footer__redes .footer__lista2 .footer__facebook:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .footer__redes .footer__lista2 .footer__instagram:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 100px;
  }
  footer .footer__derechos {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 1rem 0;
  }
  footer .footer__derechos .footer__texto {
    font-size: .6rem;
  }
  footer .footer__menu {
    margin: 1rem 0;
    padding-top: .5rem;
  }
}

@media (max-width: 500px) {
  footer .footer__menu .footer__lista a {
    font-size: .8rem;
  }
}

.body-contacto {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header-contacto" "contenido-contacto" "footer-contacto";
}

.container-contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
      grid-template-areas: "container-contacto1 container-contacto2";
}

.container-contacto1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "titulo-contacto" "chat-contacto";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bloque-contacto2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 2rem;
      grid-template-areas: "twitter" "mail" "llamada";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-contacto;
}

.contenido-contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-contacto;
}

.footer-contacto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-contacto;
}

.container-contacto1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container-contacto1;
}

.container-contacto2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container-contacto2;
}

.titulo-contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo-contacto;
}

.chat-contacto {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: chat-contacto;
}

.twitter {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: twitter;
}

.mail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mail;
}

.llamada {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: llamada;
}

.container-contacto {
  background-color: #2b2929;
}

.container-contacto .container-contacto1 h2 {
  color: whitesmoke;
}

.container-contacto .container-contacto1 .chat-contacto {
  min-height: 50%;
  width: 80%;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 1rem;
}

.container-contacto .container-contacto1 .chat-contacto:hover {
  background-color: #464343;
}

.container-contacto .container-contacto1 .chat-contacto h3 {
  text-align: center;
  margin: 1rem 0;
  color: whitesmoke;
}

.container-contacto .container-contacto1 .chat-contacto p {
  margin: 1rem 0;
}

.container-contacto .container-contacto1 .chat-contacto i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: whitesmoke;
  cursor: pointer;
}

.container-contacto .container-contacto1 .chat-contacto i:hover {
  color: #f8d134;
}

.container-contacto .container-contacto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.container-contacto .container-contacto2 .bloque-contacto2 {
  height: 60%;
  width: 80%;
  margin: auto;
}

.container-contacto .container-contacto2 .bloque-contacto2 section:hover {
  background-color: #464343;
}

.container-contacto .container-contacto2 .bloque-contacto2 .twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80%;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 1rem;
}

.container-contacto .container-contacto2 .bloque-contacto2 .twitter h3 {
  margin: auto;
  color: whitesmoke;
}

.container-contacto .container-contacto2 .bloque-contacto2 .twitter a {
  margin: auto;
}

.container-contacto .container-contacto2 .bloque-contacto2 .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80%;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 1rem;
}

.container-contacto .container-contacto2 .bloque-contacto2 .mail h3 {
  margin: auto;
  color: whitesmoke;
}

.container-contacto .container-contacto2 .bloque-contacto2 .mail a {
  margin: auto;
}

.container-contacto .container-contacto2 .bloque-contacto2 .llamada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
  height: 80%;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 1rem;
}

.container-contacto .container-contacto2 .bloque-contacto2 .llamada h3 {
  margin: auto;
  color: whitesmoke;
}

.container-contacto .container-contacto2 .bloque-contacto2 .llamada a {
  margin: auto;
  font-size: .6rem;
}

.container-contacto .container-contacto2 .bloque-contacto2 .hover-contacto:hover {
  color: #f8d134;
}

@media (max-width: 650px) {
  .container-contacto {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 2rem;
        grid-template-areas: "container-contacto1" "container-contacto2";
  }
  .container-contacto .container-contacto1 {
    margin-top: 2rem;
    min-width: 100%;
  }
  .container-contacto .container-contacto1 h2 {
    margin-bottom: 1rem;
  }
  .container-contacto .container-contacto2 {
    margin-bottom: 1rem;
    height: 20rem;
  }
  .container-contacto .container-contacto2 .bloque-contacto2 {
    margin: 0 auto;
    height: 100%;
    grid-row-gap: 1rem;
  }
  .container-contacto1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: container-contacto1;
  }
  .container-contacto2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: container-contacto2;
  }
}

.body-ayuda {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header-ayuda" "container-ayuda" "footer-ayuda";
}

.container-ayuda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
      grid-template-areas: "container-ayuda1 container-ayuda2";
}

.container-ayuda1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr;
      grid-template-rows: 1fr 5fr;
      grid-template-areas: "titulo-ayuda" "rastrear-pedido";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-ayuda {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-ayuda;
}

.container-ayuda {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: container-ayuda;
}

.footer-ayuda {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-ayuda;
}

.container-ayuda1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: container-ayuda1;
}

.container-ayuda2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: container-ayuda2;
}

.titulo-ayuda {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: titulo-ayuda;
}

.rastrear-pedido {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: rastrear-pedido;
}

.container-ayuda {
  background-color: #2b2929;
}

.container-ayuda .container-ayuda1 .titulo-ayuda {
  color: whitesmoke;
}

.container-ayuda .container-ayuda1 .rastrear-pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 50%;
  width: 80%;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 1rem;
}

.container-ayuda .container-ayuda1 .rastrear-pedido:hover {
  background-color: #464343;
}

.container-ayuda .container-ayuda1 .rastrear-pedido h3 {
  color: whitesmoke;
  text-align: center;
  margin: 1rem 0;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  min-height: 20rem;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form input {
  margin-top: 1rem;
  width: 12.5625rem;
  height: 3rem;
  cursor: pointer;
  letter-spacing: 0.8px;
  font-size: .8rem;
  text-align: center;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form .rastrear-pedido-boton .boton-formulario {
  margin-top: 2rem;
  width: 8.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .6rem;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form .rastrear-pedido-boton .boton-formulario:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

.container-ayuda .container-ayuda2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 90%;
  margin: 0 auto;
}

.container-ayuda .container-ayuda2 .container-ayuda2-cambios {
  min-height: 50%;
  margin-top: 1rem;
}

.container-ayuda .container-ayuda2 .container-ayuda2-cambios .titulo-container-ayuda2 {
  color: whitesmoke;
  margin-bottom: 1.8rem;
}

.container-ayuda .container-ayuda2 .container-ayuda2-cambios .cambios-devoluciones ul {
  list-style-type: upper-roman;
}

.container-ayuda .container-ayuda2 .container-ayuda2-cambios .cambios-devoluciones ul li {
  color: whitesmoke;
  margin-top: 1rem;
  padding-left: .5rem;
  margin-left: 1rem;
  max-width: 100%;
}

@media (max-width: 650px) {
  .container-ayuda {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "container-ayuda1" "container-ayuda2";
  }
  .container-ayuda .container-ayuda2 {
    height: 100%;
    width: 80%;
    padding: 0 5px;
  }
  .container-ayuda .container-ayuda2 .container-ayuda2-cambios {
    width: 100%;
    height: 100%;
  }
  .container-ayuda1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: container-ayuda1;
  }
  .container-ayuda2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: container-ayuda2;
  }
}

.body-liquidacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "header-liquidacion" "contenido-liquidacion" "footer-liquidacion";
}

.liquidacion-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-liquidacion catalogo-prendas-liquidacion";
}

.liquidacion-grid .catalogo-prendas-liquidacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-liquidacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-liquidacion;
}

.contenido-liquidacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-liquidacion;
}

.footer-liquidacion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-liquidacion;
}

.menu-filtros-liquidacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-liquidacion;
}

.catalogo-prendas-liquidacion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-liquidacion;
}

.liquidacion-grid .menu-filtros-liquidacion {
  margin: 3rem auto;
}

.liquidacion-grid .menu-filtros-liquidacion h2 {
  margin-bottom: 2rem;
}

.liquidacion-grid .menu-filtros-liquidacion li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.liquidacion-grid .menu-filtros-liquidacion li a {
  color: black;
}

.liquidacion-grid .menu-filtros-liquidacion li a:hover {
  color: #f8d134;
}

.liquidacion-grid .catalogo-prendas-liquidacion {
  margin: 2rem 1rem;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion h3 {
  margin: 1.5rem 1.5rem .5rem 1.5rem;
  height: 47px;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion .producto-container-precios h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion .producto-container-precios h5 {
  color: red;
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
  text-decoration: line-through;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion button:hover {
  background-color: #4c4545;
  color: white;
}

@media (max-width: 1160px) {
  .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion h2 {
    font-size: 80%;
  }
  .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion ul li {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .liquidacion-grid .catalogo-prendas-liquidacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
    justify-items: stretch;
  }
  .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion h2 {
    font-size: 70%;
  }
  .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion ul li {
    font-size: .9rem;
  }
  .contenido-liquidacion .liquidacion-grid .catalogo-prendas-liquidacion .producto-container h3 {
    font-size: .8rem;
  }
}

@media (max-width: 540px) {
  .body-liquidacion {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header-liquidacion" "contenido-liquidacion" "footer-liquidacion";
  }
  .liquidacion-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "menu-filtros-liquidacion" "catalogo-prendas-liquidacion";
  }
  .liquidacion-grid .catalogo-prendas-liquidacion {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
  }
  .header-liquidacion {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-liquidacion;
  }
  .contenido-liquidacion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contenido-liquidacion;
  }
  .footer-liquidacion {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer-liquidacion;
  }
  .menu-filtros-liquidacion {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menu-filtros-liquidacion;
  }
  .catalogo-prendas-liquidacion {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: catalogo-prendas-liquidacion;
  }
  .body-liquidacion .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion {
    margin: 1rem auto;
  }
  .body-liquidacion .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion h2 {
    margin: 0;
    font-size: 2rem;
  }
  .body-liquidacion .contenido-liquidacion .liquidacion-grid .menu-filtros-liquidacion ul {
    display: none;
  }
  .body-liquidacion .contenido-liquidacion .liquidacion-grid .catalogo-prendas-liquidacion {
    margin-top: 0;
  }
}

.body-prendas {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header-prendas" "contenido-prendas" "footer-prendas";
}

.prendas-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-prendas catalogo-prendas-prendas";
}

.prendas-grid .catalogo-prendas-prendas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-prendas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-prendas;
}

.contenido-prendas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-prendas;
}

.footer-prendas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-prendas;
}

.menu-filtros-prendas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-prendas;
}

.catalogo-prendas-prendas {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-prendas;
}

.prendas-grid .menu-filtros-prendas {
  margin: 3rem auto;
}

.prendas-grid .menu-filtros-prendas h2 {
  margin-bottom: 2rem;
}

.prendas-grid .menu-filtros-prendas li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.prendas-grid .menu-filtros-prendas li a {
  color: black;
}

.prendas-grid .menu-filtros-prendas li a:hover {
  color: #f8d134;
}

.prendas-grid .catalogo-prendas-prendas {
  margin: 2rem 1rem;
}

.prendas-grid .catalogo-prendas-prendas .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.prendas-grid .catalogo-prendas-prendas .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.prendas-grid .catalogo-prendas-prendas .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.prendas-grid .catalogo-prendas-prendas .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.prendas-grid .catalogo-prendas-prendas .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
}

.prendas-grid .catalogo-prendas-prendas .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.prendas-grid .catalogo-prendas-prendas .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.prendas-grid .catalogo-prendas-prendas .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

@media (max-width: 1160px) {
  .contenido-prendas .prendas-grid .menu-filtros-prendas {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-prendas .prendas-grid .menu-filtros-prendas h2 {
    font-size: 80%;
  }
  .contenido-prendas .prendas-grid .menu-filtros-prendas ul li {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .prendas-grid .catalogo-prendas-prendas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
    justify-items: stretch;
  }
  .contenido-prendas .prendas-grid .menu-filtros-prendas {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-prendas .prendas-grid .menu-filtros-prendas h2 {
    font-size: 70%;
  }
  .contenido-prendas .prendas-grid .menu-filtros-prendas ul li {
    font-size: .9rem;
  }
  .contenido-prendas .prendas-grid .catalogo-prendas-prendas .producto-container h3 {
    font-size: .8rem;
  }
}

@media (max-width: 541px) {
  .body-prendas {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header-prendas" "contenido-prendas" "footer-prendas";
  }
  .prendas-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "menu-filtros-prendas" "catalogo-prendas-prendas";
  }
  .prendas-grid .catalogo-prendas-prendas {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
  }
  .header-prendas {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-prendas;
  }
  .contenido-prendas {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contenido-prendas;
  }
  .footer-prendas {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer-prendas;
  }
  .menu-filtros-prendas {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menu-filtros-prendas;
  }
  .catalogo-prendas-prendas {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: catalogo-prendas-prendas;
  }
  .body-prendas .contenido-prendas .prendas-grid .menu-filtros-prendas {
    margin: 1rem auto;
  }
  .body-prendas .contenido-prendas .prendas-grid .menu-filtros-prendas h2 {
    margin: 0;
    font-size: 2rem;
  }
  .body-prendas .contenido-prendas .prendas-grid .menu-filtros-prendas ul {
    display: none;
  }
  .body-prendas .contenido-prendas .prendas-grid .catalogo-prendas-prendas {
    margin-top: 0;
  }
}

.body-accesorios {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header-accesorios" "contenido-accesorios" "footer-accesorios";
}

.accesorios-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-accesorios catalogo-prendas-accesorios";
}

.accesorios-grid .catalogo-prendas-accesorios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-accesorios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-accesorios;
}

.contenido-accesorios {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-accesorios;
}

.footer-accesorios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-accesorios;
}

.menu-filtros-accesorios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-accesorios;
}

.catalogo-prendas-accesorios {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-accesorios;
}

.accesorios-grid .menu-filtros-accesorios {
  margin: 3rem auto;
}

.accesorios-grid .menu-filtros-accesorios h2 {
  margin-bottom: 2rem;
}

.accesorios-grid .menu-filtros-accesorios li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.accesorios-grid .menu-filtros-accesorios li a {
  color: black;
}

.accesorios-grid .menu-filtros-accesorios li a:hover {
  color: #f8d134;
}

.accesorios-grid .catalogo-prendas-accesorios {
  margin: 2rem 1rem;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

@media (max-width: 1160px) {
  .contenido-accesorios .accesorios-grid .menu-filtros-accesorios {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-accesorios .accesorios-grid .menu-filtros-accesorios h2 {
    font-size: 80%;
  }
  .contenido-accesorios .accesorios-grid .menu-filtros-accesorios ul li {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .accesorios-grid .catalogo-prendas-accesorios {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
    justify-items: stretch;
  }
  .contenido-accesorios .accesorios-grid .menu-filtros-accesorios {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-accesorios .accesorios-grid .menu-filtros-accesorios h2 {
    font-size: 70%;
  }
  .contenido-accesorios .accesorios-grid .menu-filtros-accesorios ul li {
    font-size: .9rem;
  }
  .contenido-accesorios .accesorios-grid .catalogo-prendas-accesorios .producto-container h3 {
    font-size: .8rem;
  }
}

@media (max-width: 540px) {
  .body-accesorios {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header-accesorios" "contenido-accesorios" "footer-accesorios";
  }
  .accesorios-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "menu-filtros-accesorios" "catalogo-prendas-accesorios";
  }
  .accesorios-grid .catalogo-prendas-accesorios {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
  }
  .header-accesorios {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-accesorios;
  }
  .contenido-accesorios {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contenido-accesorios;
  }
  .footer-accesorios {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer-accesorios;
  }
  .menu-filtros-accesorios {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menu-filtros-accesorios;
  }
  .catalogo-prendas-accesorios {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: catalogo-prendas-accesorios;
  }
  .body-accesorios .contenido-accesorios .accesorios-grid .menu-filtros-accesorios {
    margin: 1rem auto;
  }
  .body-accesorios .contenido-accesorios .accesorios-grid .menu-filtros-accesorios h2 {
    margin: 0;
    font-size: 2rem;
  }
  .body-accesorios .contenido-accesorios .accesorios-grid .menu-filtros-accesorios ul {
    display: none;
  }
  .body-accesorios .contenido-accesorios .accesorios-grid .catalogo-prendas-accesorios {
    margin-top: 0;
  }
}

.body-zapatos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "header-zapatos" "contenido-zapatos" "footer-zapatos";
}

.zapatos-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-zapatos catalogo-prendas-zapatos";
}

.zapatos-grid .catalogo-prendas-zapatos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-zapatos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-zapatos;
}

.contenido-zapatos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-zapatos;
}

.footer-zapatos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-zapatos;
}

.menu-filtros-zapatos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-zapatos;
}

.catalogo-prendas-zapatos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-zapatos;
}

.zapatos-grid .menu-filtros-zapatos {
  margin: 3rem auto;
}

.zapatos-grid .menu-filtros-zapatos h2 {
  margin-bottom: 2rem;
}

.zapatos-grid .menu-filtros-zapatos li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.zapatos-grid .menu-filtros-zapatos li a {
  color: black;
}

.zapatos-grid .menu-filtros-zapatos li a:hover {
  color: #f8d134;
}

.zapatos-grid .catalogo-prendas-zapatos {
  margin: 2rem 1rem;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

@media (max-width: 1160px) {
  .contenido-zapatos .zapatos-grid .menu-filtros-zapatos {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-zapatos .zapatos-grid .menu-filtros-zapatos h2 {
    font-size: 80%;
  }
  .contenido-zapatos .zapatos-grid .menu-filtros-zapatos ul li {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .zapatos-grid .catalogo-prendas-zapatos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
    justify-items: stretch;
  }
  .contenido-zapatos .zapatos-grid .menu-filtros-zapatos {
    margin: 3rem 0 3rem .8rem;
  }
  .contenido-zapatos .zapatos-grid .menu-filtros-zapatos h2 {
    font-size: 70%;
  }
  .contenido-zapatos .zapatos-grid .menu-filtros-zapatos ul li {
    font-size: .9rem;
  }
  .contenido-zapatos .zapatos-grid .catalogo-prendas-zapatos .producto-container h3 {
    font-size: .8rem;
  }
}

@media (max-width: 540px) {
  .body-zapatos {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header-zapatos" "contenido-zapatos" "footer-zapatos";
  }
  .zapatos-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "menu-filtros-zapatos" "catalogo-prendas-zapatos";
  }
  .zapatos-grid .catalogo-prendas-zapatos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: .5rem;
    grid-row-gap: .8rem;
  }
  .header-zapatos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header-zapatos;
  }
  .contenido-zapatos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contenido-zapatos;
  }
  .footer-zapatos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: footer-zapatos;
  }
  .menu-filtros-zapatos {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: menu-filtros-zapatos;
  }
  .catalogo-prendas-zapatos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: catalogo-prendas-zapatos;
  }
  .body-zapatos .contenido-zapatos .zapatos-grid .menu-filtros-zapatos {
    margin: 1rem auto;
  }
  .body-zapatos .contenido-zapatos .zapatos-grid .menu-filtros-zapatos h2 {
    margin: 0;
    font-size: 2rem;
  }
  .body-zapatos .contenido-zapatos .zapatos-grid .menu-filtros-zapatos ul {
    display: none;
  }
  .body-zapatos .contenido-zapatos .zapatos-grid .catalogo-prendas-zapatos {
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */