* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Encode Sans SC", sans-serif;
}

p, a {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

li {
  font-family: "Roboto", sans-serif;
}

.texto-productos {
  color: black;
}

header {
  background-color: black;
  padding: .625rem 0;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container .logo {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-container .logo .logo__titulo {
  cursor: pointer;
}

header .header-container .logo .logo__titulo:hover {
  color: #f8d134;
}

header .header-container .menu {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

header .header-container .menu .menu__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .menu .menu__lista .menu__enlace:hover {
  color: #f8d134;
  font-weight: 700;
}

header .header-container .usuario {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

header .header-container .usuario .usuario__lista {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0.625rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .usuario .usuario__lista .usuario__elementos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

header .header-container .usuario .usuario__lista .usuario__elementos .usuario__iconos {
  color: whitesmoke;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

header .header-container .usuario .usuario__lista .usuario__elementos .usuario__iconos:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 900px) {
  header .header-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.principal {
  background-image: url(../img/fotoPortadaIndex.jpg);
  height: 120vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.principal .principal__div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.principal .principal__div .principal__subtitulo {
  cursor: pointer;
  -webkit-transition: 2s;
  transition: 2s;
  color: #f8d134;
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: 2.34px;
}

.principal .principal__div .principal__subtitulo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.principal .principal__div .boton-principal__div {
  margin-top: .9rem;
  width: 10.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.principal .principal__div .boton-principal__div:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

.seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150vh;
  width: 100%;
}

.seccion .seccion__img1 {
  background-image: url(../img/img-uno.jpg);
  height: 100%;
  max-width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seccion .seccion__img1 .texto__img1 {
  color: #f8d134;
  font-size: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

.seccion .seccion__img1 .texto__img1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion .seccion__img1 .boton-seccion__img1 {
  margin-top: .9rem;
  width: 8.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.seccion .seccion__img1 .boton-seccion__img1:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

.seccion .seccion__img2 {
  background-image: url(../img/img-dos.jpg);
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.seccion .seccion__img2 .texto__img2 {
  color: #f8d134;
  font-size: 2rem;
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

.seccion .seccion__img2 .texto__img2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.seccion .seccion__img2 .boton-seccion__img1 {
  margin-top: .9rem;
  width: 8.5625rem;
  height: 3rem;
  border: solid 0.1rem whitesmoke;
  border-radius: 1.75rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: transparent;
  color: whitesmoke;
  letter-spacing: 0.8px;
  font-size: .9rem;
}

.seccion .seccion__img2 .boton-seccion__img1:hover {
  background-color: #f8d134;
  color: black;
  border: none;
}

footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1.25rem;
}

.footer__derechos {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.footer__menu {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__enlaces:hover {
  color: #f8d134;
}

.footer__redes {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.footer__lista2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__facebook:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__instagram:hover {
  color: #f8d134;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.125rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container__productos .container__filtros {
  padding-left: 2.5rem;
  padding-top: 1.25rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.container__productos .container__filtros .texto-productos {
  margin-bottom: 1.25rem;
  color: black;
}

.container__productos .container__filtros li {
  font-size: 1.25rem;
  margin-top: 0.3125rem;
  cursor: pointer;
}

.container__productos .catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.container__productos .catalogo .producto-container {
  width: 30%;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.container__productos .catalogo .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.container__productos .catalogo .producto-container img {
  width: 80%;
  height: 70%;
  display: block;
  margin: auto;
  -webkit-transition: 2s;
  transition: 2s;
}

.container__productos .catalogo .producto-container h3 {
  margin: 1rem;
}

.container__productos .catalogo .producto-container h4 {
  margin-left: 1rem;
  margin-bottom: 0.125rem;
}

.container__productos .catalogo .producto-container button {
  float: right;
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: 0.1875rem;
  cursor: pointer;
  border-radius: .3rem;
}

.container__productos .catalogo .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

.container-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 85vh;
  background-color: #2b2929;
}

.container-contacto .container-contacto1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  position: relative;
}

.container-contacto .container-contacto1 h2 {
  position: absolute;
  left: 20%;
  top: 10%;
  color: whitesmoke;
}

.container-contacto .container-contacto1 .chat-contacto {
  position: absolute;
  left: 20%;
  top: 40%;
  width: 70%;
  height: 34%;
  border-bottom: 0.125rem solid whitesmoke;
  border-top: 0.125rem solid whitesmoke;
}

.container-contacto .container-contacto1 .chat-contacto h3 {
  margin: 5%;
  color: whitesmoke;
}

.container-contacto .container-contacto1 .chat-contacto i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2%;
  color: whitesmoke;
  cursor: pointer;
}

.container-contacto .container-contacto1 .chat-contacto i:hover {
  color: #f8d134;
}

.container-contacto .container-contacto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container-contacto .container-contacto2 .contacto2-cont {
  position: absolute;
  left: 25%;
  top: 40%;
  width: 50%;
  text-align: center;
}

.container-contacto .container-contacto2 .contacto2-cont .twitter {
  margin: 0 0.625rem 0.625rem 0.625rem;
  padding: 1.25rem 0;
  border-bottom: 0.125rem solid whitesmoke;
  border-top: 0.125rem solid whitesmoke;
}

.container-contacto .container-contacto2 .contacto2-cont .twitter h3 {
  margin-bottom: 0.3125rem;
  color: whitesmoke;
}

.container-contacto .container-contacto2 .contacto2-cont .mail {
  margin: 0.625rem;
  padding: 1.25rem 0;
  border-bottom: 0.125rem solid whitesmoke;
}

.container-contacto .container-contacto2 .contacto2-cont .mail h3 {
  margin-bottom: 0.3125rem;
  color: whitesmoke;
}

.container-contacto .container-contacto2 .contacto2-cont .llamada {
  margin: 0.625rem;
  padding: 1.25rem 0;
  border-bottom: 0.125rem solid whitesmoke;
}

.container-contacto .container-contacto2 .contacto2-cont .llamada h3 {
  margin-bottom: 0.3125rem;
  color: whitesmoke;
}

.container-contacto .container-contacto2 .contacto2-cont .hover-contacto:hover {
  color: #f8d134;
}

.container-ayuda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2b2929;
  min-height: 85vh;
}

.container-ayuda .container-ayuda1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  position: relative;
}

.container-ayuda .container-ayuda1 h2 {
  position: absolute;
  left: 20%;
  top: 10%;
  color: whitesmoke;
}

.container-ayuda .container-ayuda1 .rastrear-pedido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 20%;
  top: 40%;
  width: 70%;
  height: 30%;
  border-bottom: 0.125rem solid whitesmoke;
  border-top: 0.125rem solid whitesmoke;
}

.container-ayuda .container-ayuda1 .rastrear-pedido h3 {
  margin-top: .5rem;
  text-align: center;
  color: whitesmoke;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: auto;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form .campos-formulario {
  height: 2rem;
  padding: 0 1rem;
  letter-spacing: .06rem;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form .rastrear-pedido-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-ayuda .container-ayuda1 .rastrear-pedido form .rastrear-pedido-boton .boton-formulario {
  margin-top: 1rem;
  height: 1.8rem;
  border-radius: .9rem;
  width: 10rem;
  letter-spacing: .06rem;
  cursor: pointer;
}

.container-ayuda .container-ayuda2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container-ayuda .container-ayuda2 .container-ayuda2-cambios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 20%;
  top: 40%;
  width: 70%;
  height: 30%;
  border-bottom: 0.125rem solid whitesmoke;
  border-top: 0.125rem solid whitesmoke;
}

.container-ayuda .container-ayuda2 .container-ayuda2-cambios h3 {
  margin-top: .5rem;
  color: whitesmoke;
}

.container-ayuda .container-ayuda2 .cambios-devoluciones {
  margin-top: 1rem;
}

.container-ayuda .container-ayuda2 .cambios-devoluciones p {
  margin-bottom: .5rem;
}

.body-liquidacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "header-liquidacion" "contenido-liquidacion" "footer-liquidacion";
}

.liquidacion-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-liquidacion catalogo-prendas-liquidacion";
}

.liquidacion-grid .catalogo-prendas-liquidacion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-liquidacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-liquidacion;
}

.contenido-liquidacion {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-liquidacion;
}

.footer-liquidacion {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-liquidacion;
}

.menu-filtros-liquidacion {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-liquidacion;
}

.catalogo-prendas-liquidacion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-liquidacion;
}

.liquidacion-grid .menu-filtros-liquidacion {
  margin: 3rem auto;
}

.liquidacion-grid .menu-filtros-liquidacion h2 {
  margin-bottom: 2rem;
}

.liquidacion-grid .menu-filtros-liquidacion .sub-lista {
  padding-left: 1rem;
}

.liquidacion-grid .menu-filtros-liquidacion .sub-lista li {
  font-size: 1rem;
}

.liquidacion-grid .menu-filtros-liquidacion li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.liquidacion-grid .menu-filtros-liquidacion li a {
  color: black;
}

.liquidacion-grid .catalogo-prendas-liquidacion {
  margin: 2rem 1rem;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion h3 {
  margin: 1.5rem 1.5rem .5rem 1.5rem;
  height: 47px;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion .producto-container-precios h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion .producto-container-precios h5 {
  color: red;
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
  text-decoration: line-through;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.liquidacion-grid .catalogo-prendas-liquidacion .producto-container-liquidacion button:hover {
  background-color: #4c4545;
  color: white;
}

.body-prendas {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "header-prendas" "contenido-prendas" "footer-prendas";
}

.prendas-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-prendas catalogo-prendas-prendas";
}

.prendas-grid .catalogo-prendas-prendas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-prendas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-prendas;
}

.contenido-prendas {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-prendas;
}

.footer-prendas {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-prendas;
}

.menu-filtros-prendas {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-prendas;
}

.catalogo-prendas-prendas {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-prendas;
}

.prendas-grid .menu-filtros-prendas {
  margin: 3rem auto;
}

.prendas-grid .menu-filtros-prendas h2 {
  margin-bottom: 2rem;
}

.prendas-grid .menu-filtros-prendas .sub-lista {
  padding-left: 1rem;
}

.prendas-grid .menu-filtros-prendas .sub-lista li {
  font-size: 1rem;
}

.prendas-grid .menu-filtros-prendas li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.prendas-grid .menu-filtros-prendas li a {
  color: black;
}

.prendas-grid .catalogo-prendas-prendas {
  margin: 2rem 1rem;
}

.prendas-grid .catalogo-prendas-prendas .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.prendas-grid .catalogo-prendas-prendas .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.prendas-grid .catalogo-prendas-prendas .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.prendas-grid .catalogo-prendas-prendas .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.prendas-grid .catalogo-prendas-prendas .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
}

.prendas-grid .catalogo-prendas-prendas .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.prendas-grid .catalogo-prendas-prendas .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.prendas-grid .catalogo-prendas-prendas .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

.body-accesorios {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "header-accesorios" "contenido-accesorios" "footer-accesorios";
}

.accesorios-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-accesorios catalogo-prendas-accesorios";
}

.accesorios-grid .catalogo-prendas-accesorios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-accesorios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-accesorios;
}

.contenido-accesorios {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-accesorios;
}

.footer-accesorios {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-accesorios;
}

.menu-filtros-accesorios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-accesorios;
}

.catalogo-prendas-accesorios {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-accesorios;
}

.accesorios-grid .menu-filtros-accesorios {
  margin: 3rem auto;
}

.accesorios-grid .menu-filtros-accesorios h2 {
  margin-bottom: 2rem;
}

.accesorios-grid .menu-filtros-accesorios .sub-lista {
  padding-left: 1rem;
}

.accesorios-grid .menu-filtros-accesorios .sub-lista li {
  font-size: 1rem;
}

.accesorios-grid .menu-filtros-accesorios li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.accesorios-grid .menu-filtros-accesorios li a {
  color: black;
}

.accesorios-grid .catalogo-prendas-accesorios {
  margin: 2rem 1rem;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.accesorios-grid .catalogo-prendas-accesorios .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}

.body-zapatos {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 60px;
      grid-template-rows: 60px 1fr 60px;
      grid-template-areas: "header-zapatos" "contenido-zapatos" "footer-zapatos";
}

.zapatos-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "menu-filtros-zapatos catalogo-prendas-zapatos";
}

.zapatos-grid .catalogo-prendas-zapatos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: .8rem;
  justify-items: stretch;
}

.header-zapatos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header-zapatos;
}

.contenido-zapatos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contenido-zapatos;
}

.footer-zapatos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer-zapatos;
}

.menu-filtros-zapatos {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: menu-filtros-zapatos;
}

.catalogo-prendas-zapatos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: catalogo-prendas-zapatos;
}

.zapatos-grid .menu-filtros-zapatos {
  margin: 3rem auto;
}

.zapatos-grid .menu-filtros-zapatos h2 {
  margin-bottom: 2rem;
}

.zapatos-grid .menu-filtros-zapatos .sub-lista {
  padding-left: 1rem;
}

.zapatos-grid .menu-filtros-zapatos .sub-lista li {
  font-size: 1rem;
}

.zapatos-grid .menu-filtros-zapatos li {
  font-size: 1.2rem;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

.zapatos-grid .menu-filtros-zapatos li a {
  color: black;
}

.zapatos-grid .catalogo-prendas-zapatos {
  margin: 2rem 1rem;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  border-radius: .3rem;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container:hover {
  -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container img {
  width: 275px;
  height: 350px;
  margin: 1rem auto;
  -webkit-transition: 2s;
  transition: 2s;
  border-radius: .3rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container h3 {
  margin: 1.5rem 1.5rem;
  height: 47px;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container h4 {
  margin-left: 1.5rem;
  margin-bottom: 0.125rem;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container button {
  float: right;
  margin-right: 1.5rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  padding: .5rem 1.3rem;
  cursor: pointer;
  border-radius: .8rem;
  border: none;
  background-color: #dad9d9;
}

.zapatos-grid .catalogo-prendas-zapatos .producto-container button:hover {
  background-color: #4c4545;
  color: white;
}
/*# sourceMappingURL=main.css.map */