@import "general";
@import "header";
@import "index";
@import "footer";
@import "productos";
@import "contacto";
@import "ayuda";
@import "liquidacion";
@import "prendas";
@import "accesorios";
@import "zapatos";